body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:571px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:439px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:63px;
  width:221px;
  height:439px;
}
#u544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_ann {
  border-width:0px;
  position:absolute;
  left:243px;
  top:59px;
  width:1px;
  height:1px;
}
#u545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:441px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:70px;
  width:221px;
  height:441px;
}
#u545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
